{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set product_variant = item.variant %}
{% set original_price_to_display = sylius_order_item_original_price_to_display(item) %}

<tr {{ sylius_test_html_attribute('cart-product-row', item.productName) }} class="py-3.5">
    <td class="text-left mr-5" {{ sylius_test_html_attribute('cart-item', loop_index|default(null) ) }} data-title={{ 'sylius.ui.item'|trans }}>
        {% include '@SyliusShop/Product/_info.html.twig' with {'variant': product_variant} %}
    </td>
    <td class="text-right mr-5" data-title={{ 'sylius.ui.unit_price'|trans }}>
        {% if original_price_to_display is not null %}
            <span class="sylius-regular-unit-price text-xs text-gray-500 line-through" {{ sylius_test_html_attribute('cart-product-regular-unit-price') }}>
                <span class="old-price">{{ money.convertAndFormat(original_price_to_display) }}</span>
            </span>
        {% endif %}
        <span class="sylius-unit-price font-bold text-sm" {{ sylius_test_html_attribute('cart-product-unit-price', item.productName) }}>{{ money.convertAndFormat(item.discountedUnitPrice) }}</span>
    </td>
    <td class="text-center mr-5" data-title={{ 'sylius.ui.qty'|trans }}>
        <span class="sylius-quantity">{{ form_widget(form.quantity, sylius_test_form_attribute('cart-item-quantity-input', item.productName)|sylius_merge_recursive({'attr': {'form': main_form, 'class': 'w-20'}})) }}</span>
    </td>
    <td class="text-center mr-5">
        <form action="{{ path('sylius_shop_cart_item_remove', {'id': item.id}) }}" method="post" class="flex">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="hidden" name="_csrf_token" value="{{ csrf_token(item.id) }}" />
            <button type="submit" class="btn btn-xs btn-outline sylius-cart-remove-button" {{ sylius_test_html_attribute('cart-remove-button', item.productName) }} >
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M18 6l-12 12"></path>
                    <path d="M6 6l12 12"></path>
                </svg>
            </button>
        </form>
    </td>
    <td class="text-right font-bold" data-title={{ 'sylius.ui.total'|trans }}>
        <span class="sylius-total" {{ sylius_test_html_attribute('cart-product-subtotal') }}>{{ money.convertAndFormat(item.subtotal) }}</span>
    </td>
</tr>
