{% if locales|length > 1 %}
    <div class="dropdown lg:dropdown-end dropdown-bottom mr-2" id="sylius-locale-selector" {{ sylius_test_html_attribute('locale-selector') }}>
        <label tabindex="0" class="btn btn-xs btn-outline text-xs sylius-active-locale" {{ sylius_test_html_attribute('active-locale') }}>{{ active|sylius_locale_name }}</label>
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            {% for code in locales %}
                {% if code is not same as(active) %}
                    <li>
                        <a href="{{ path('sylius_shop_switch_locale', {'code': code}) }}" class="text-black sylius-available-locale" {{ sylius_test_html_attribute('available-locale') }}>
                            {{ code|sylius_locale_name }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
