<div class="">
    <h4 class="footer-title text-white">{{ 'sylius.ui.your_store'|trans }}</h4>
        <a href="#" class="link link-hover text-gray-300">{{ 'sylius.ui.about'|trans }}</a>
        <a href="#" class="link link-hover text-gray-300">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>
        <a href="#" class="link link-hover text-gray-300">{{ 'sylius.ui.privacy_policy'|trans }}</a>
        <a href="{{ path('sylius_shop_contact_request') }}" class="link link-hover text-gray-300">{{ 'sylius.ui.contact_us'|trans }}</a>
</div>
